*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
	width: 90%;
	margin: 20px auto;
  display: flex;
  justify-content: center;
}
.text-capitalize{
  text-transform: capitalize;
}
.header{
  box-sizing: border-box;
}
.h-05{
  height: 5px;
}
.h-4{
  height: 40px;
}
.h-20{
  height: 200px;
}
.h-10{
  height: 100px;
}
.btn-info{
  cursor : pointer;
  background : black;
  border: 2px solid #000;
  color: #fff;
  border-radius : 5px;
  padding: 7px 25px;
}
.btn-info:hover{
  background : #fff;
  color: #000;
}

.white{
  color: white;
}
.green{
  color: #5C9210;
}
.brown{
  color: #944317;
}
.red{
  color: red;
}
.yellow{
  color: #f3d424;
}
.bg-bacon{
  background-color: #C24C27;
}
.bg-lettuce{
  background-color: #4AA130;
}
.bg-cheese{
  background-color: #E3C416;
}
.bg-meat{
  background-color: #733007;
}
.t-decoration-none{
  text-decoration: none;
}
.f-family-cursive{
  font-family:cursive;
}
.f-family-monospace{
  font-family:monospace
}
.w-26{
  width:300px;
}

.w-30{
  width: 300px;
}

.w-40{
  width: 400px;
}
.w-45{
  width: 450px;
}
.w-08{
  width: 8px;
}
.w-80per{
  width: 80%;
}
.w-100per{
  width: 100%;
}
.bg-brown{
  background-color: #df7f09;
}
.bg-grey{
  background: rgb(168, 167, 167);
}
.bg-white{
  background: white;
}
.success{
  color: #65e080;
}
.bg-lite-yellow{
  background: #e9e5176e;
}
.m-0-auto{
  margin: 0 auto;
}
.m-3-auto{
  margin: 30px auto;
}
.m-02{
  margin: 2px;
}
.p-05-2{
  padding: 5px 20px;
}
.p-022-3-016-3{
  padding: 22px 30px 16px 30px;
}
.p-1{
  padding: 10px;
}
.p-2{
  padding: 20px;
}
.p-3{
  padding: 30px;
}
.pr-2{
  padding-right: 20px;
}
.p-05-2{
  padding: 5px 20px;
}
.p-022-3-016-3{
  padding: 22px 30px 16px 30px;
}
.pl-1{
  padding-left: 10px;
}
.pl-2{
  padding-left: 20px;
}
.pb-5{
  padding-bottom: 50px;
}
.p-1{
  padding: 10px;
}
.pt-5{
  padding-top: 50px;
}
.mr-1{
  margin-right: 10px;
}
.mr-2{
  margin-right: 20px;
}
.ml-2{
  margin-left: 20px;
}
.ml-6{
  margin-left: 60px;
}
.mt-2{
  margin-top: 20px;
}
.mb-2{
  margin-bottom: 20px;
}
tr.head td {padding-top: 30px; padding-bottom:15px}
tr.body td {padding : 15px 20px}

tr.b-top-1-ccc td{
  border-top: 1px solid #ccc;
}
.mt-05{
  margin-top: 5px;
}
.mt-3{
  margin-top: 30px;
}
.mb-1{
  margin-bottom: 10px;
}
.mt-4{
  margin-top: 40px;
}
.m-1-auto{
  margin: 10px auto;
}
.t-center{
  text-align: center;
}
.rotate-r-60{
  transform: rotate(60deg);
}

.rotate-l-50{
  transform: rotate(-50deg);
}
.rotate-l-120{
  transform: rotate(-120deg);

}
.rotate-l-30{
  transform: rotate(-30deg);

}
.rotate-r-30{
  transform: rotate(30deg);

}
.b-rad-5{
  border-radius: 10px 0 0 10px;
}
.f-014{
  font-size: 14px;
}

.f-017{
  font-size: 17px;
}
.f-2{
  font-size: 20px;
}
.f-bold{
  font-weight: bold;
}
.active-menu{
  height: 60px;
  background-color: #8F5C2C;
  border-bottom: 5px solid #639FF9;

}
.min-h-50{
  min-height: 500px;
}
.bg-yellow{
  background-color: #CF8F2E;
}
.bg-transparent{
  background: transparent;
}
.outline-none{
  outline: none;
}
.d-flex{
  display: flex;
}
.j-content-center{
  justify-content: center;
}
.j-content-around{
  justify-content: space-around;
}
.j-content-between{
  justify-content: space-between;
}
.flex-d-column{
  flex-direction: column;
}
.flex-align-center{
  align-items: center;
}
.burger-top{
  height: 80px;
  background: linear-gradient(to bottom right, #af5720ec, #df6d21ef);
  border-radius: 300px 300px 100px 100px ;

}
.burger-bottom{
  height: 50px;
  background: linear-gradient(to bottom right, #c66224ec, #e76b18c2);
  border-radius: 15px 15px 30px 30px ;

}

.b-01-solid-ccc{
  border: 1px solid #ccc ;
}
.b-01-red{
  border: 1px solid red ;
}
.box-shadow-gray{
  box-shadow: 1px -0.5px 0 2px #C9C9C9;
}
.b-01-solid-ccc{
  border: 1px solid #ccc ;
}
.b-01{
  border: 1px solid #000 ;
}
.b-1-brown{
  border: 1px solid #AA6817;
}
.b-none{
  border: none;
}
.br-none{
  border-radius: 0;
}
.br-2{
  border-radius: 20px;
}
.input{
  width: 100%;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #ccc
}
/*start*/


.box-shadow-ccc{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 10px 0px;
}
.b-1-c9  {
  border: 1px solid #f7f5f5;
}
.cursor-pointer{
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#div-loader{
  position: fixed;
  margin: 0 -50px;
  }
.div1 {
  width: 100px;
  height: 100px;
  border: 5px solid #0CB1C4;
  position: relative;
}
.div3 {
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  border: 5px solid #0CB1C4;
  position: absolute;
}

.div2 {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border: 5px solid crimson;
  box-sizing: border-box;
   position: absolute;
}

.spin-cw{
  animation: spin-cw 2s infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 
.spin-acw{
  animation: spin-acw 2s infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}  
 @keyframes spin-acw {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
}


}
@keyframes spin-cw {
  from {
      transform:rotate(360deg);
  }
  to {
      transform:rotate(0deg);
}
}


.div4 {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 5px;
  border: 5px solid crimson; 
}





.card {
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  height: 650px;
  margin: 1rem;
  width: 375px;
  box-shadow: 0 12px 13px rgba(0,0,0,0.16), 0 12px 13px rgba(0,0,0,0.16);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.element-animation{
  animation: animationFrames ease 2s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
}


@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(30px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
  
  
}


